# Ignore everything
/*

# Not these directories
!maquillage/
maquillage/bin/data/model/

!week4/
week4/*
!week4/tiltDraw/

!week5/
week5/*.png
week5/*.mov
week5/*.mp4

!week6/
week6/*

!week8/
week8/*
!week8/firebending/

!final/

# Not these files
!.gitignore
!README.md
